{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- AllPosts page content starts here -->   
<div id="body" class="bodytxt" >
    <h1>All Blog posts</h1>
    <p>Some text</p>
    <!-- want to filter display based on what user selected from home page -->
        
    <div class="categories">
            
        <div class="post cell">
            <!-- post 1 -->
        </div>
        
        <div class="post cell">
            <!-- post 2 -->
        </div>

        <div class="post cell">
            <!-- post 3 -->
        </div>

        <div class="post cell">
            <!-- post 4 -->
        </div>
        
        <div class="post cell">
            <!-- post 5 -->
        </div>

        <div class="post cell">
            <!-- post 6 -->
        </div>

        <div class="post cell">
            <!-- post 7 -->
        </div>
        
        <div class="post cell">
            <!-- post 8 -->
        </div>

        <div class="post cell">
            <!-- post 9 -->
    </div>
</div>
{% endblock content %}