{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- AllPosts page content starts here -->   
<div id="body" class="bodytxt" >
    <h1>All Blog posts</h1>
    <p>Some text</p>
    <!-- want to filter display based on what user selected from home page -->
        
    <div class="categories"> 
        {% for post in items %}
            <div class="cell">
                <div class="post_img">
                    {% if "placeholder" in post.image %}
                    <img src="{% static 'images/default.png' %}" alt="placeholder image">
                    {% else %}
                    <img src=" {{ post.image.url }}" alt="{{ post.alt_image }}">
                    {% endif %}
                </div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.excerpt }}</p>
                <p>Created on: {{ post.created_on}}</p>
            </div>
        {% empty %}
            <p>No posts to display</p>
        {% endfor %}
    </div>    
</div>
{% endblock content %}