{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- AllPosts page content starts here -->   
<div id="body" class="bodytxt" >
    <h1>All Blog posts</h1>
    <p>Some text</p>
    <!-- want to filter display based on what user selected from home page -->
        
    <div class="categories"> 
        {% for post in items %}
            <div class="cell">
                <p>{{ post.title }}</p>
            </div>
        {% empty %}
            <p>No posts to display</p>
        {% endfor %}
    </div>    
</div>
{% endblock content %}