{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- landing page content starts here -->
<div id="body" class="bodytxt" >
    <h1>What food do you need to use up?</h1>
    
    <p>
        If you're looking for inspiration and just want to browse through all posts then click here: 
         <a href="">All posts</a>
         Otherwise, select what you have leftover and lets get cooking!
    </p>
    
    <div class="categories" id="food_groups">
        <div class="cell" id="meat">
            <img src="" alt="roast bird"></a>
            <p>Meat</p>
        </div>
        
        <div class="cell" id ="fish">
            <img src="" alt="fish"></a>
            <p>Fish</p>
        </div>

        <div class="cell" id ="veg">
           <img src="" alt="Vegetables"></a>
            <p>Vegetables</p>
        </div>
                
        <div class="cell" id="fruit">
            <img src="" alt="fruit"></a>
            <p>Fruit</p>
        </div>
            
         <div class="cell" id ="dairy">
            <img src="" alt="milk churn"></a>
            <p>Dairy</p>
        </div>

        <div class="cell" id ="eggs">
            <img src="" alt="eggs"></a>
            <p>Eggs</p>
        </div>
                
        <div class="cell" id="bread">
            <img src="" alt="Bread"></a>
            <p>Bread</p>
        </div>
            
         <div class="cell" id ="rice">
            <img src="" alt="grains"></a>
            <p>Grains and pulses</p>
        </div>

        <div class="cell" id ="seasonal">
            <img src="" alt="party streamers"></a>
            <p>Seasonal leftovers</p>
        </div>
    </div>            
</div>
{% endblock content %}