{% load static %}

{% url 'landing' as landing_url %}
{% url 'blog' as blog_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Do Leftovers!</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- header section -->
    <header>
        <div id="head">
            <div id="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/yellow_plate.png' %}" alt="fork plate knife">
                </a>
            </div>
            
            <div id="headtxt">
                <h1>Lets Do Leftovers</h1>
            </div>

            <div id = nav >
                <i class="fa-solid fa-bars fa-2x"></i>
            </div>
        </div>
        
        <div id="menu_banner">
            <div id="menu">
                <h2>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'blog' %}">All Posts</a>
                    <a href="">About</a>
                    <a href="">Register</a>
                    <a href="">Sign In</a>
                </h2>
            </div>
        </div>
    <!-- main section -->
     <main>
        {% block content %}
        <!-- Content goes here     -->
         {% endblock content %}
     </main>
     <!-- footer section -->
    <footer>
        <div id="footer" class="foottxt">
            <h1>Follow us on the socials</h1>
            <div id="socials">
                <div id ="facebook">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i></a> 
                </div>
                
                <div id="youtube">
                    <a href="https://www.youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube page (opens in a new tab)">
                    <i class="fa-brands fa-youtube-square"></i></a>
                </div>

                <div id="instagram">
                    <a href="https://www.instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i></a>
                </div>

                <div id="pinterest">
                    <a href="https://www.pinterest.com" target="_blank" rel="noopener"
                    aria-label="Visit our Pinterest page (opens in a new tab)">
                    <i class="fa-brands fa-pinterest"></i></a> 
                </div>
                
                <div id="x">
                    <a href="https://www.x.com" target="_blank" rel="noopener"
                    aria-label="Visit our X page (opens in a new tab)">
                    <i class="fa-brands fa-x-twitter"></i></a> 
                </div>           
            </div>
            <div>
                <p>Created by Code Institute Bootcamp Student - @2024 Grace Lawrence 
                    <a href="https://github.com/glaw2000" target="_blank" rel="noopener" aria-label="Visit my GitHub page"><i class="fa-brands fa-github"></i></a>
                </p>
            </div>
        </div>    
        
    </footer>
<script src="https://kit.fontawesome.com/6b67198870.js" crossorigin="anonymous"></script>
</body>
</html>