{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- About page content starts here -->   
<div id="body" class="bodytxt" >
    <h1>About</h1>
    <div id="about">
        <div class = "about_img">
            <img src="{% static 'images/workspace.webp' %}" alt="desk laptop notebook">
        </div>
        
        <div class = "about_txt">
            <p>Hi there, I'm Grace, a Code Institue Full Stack Developer Bootcamp student. 
                This site was built for our final assessed project.
                Why "Lets Do Leftovers" you may ask. Well for one I love food, both the cooking and eating of. 
                Two, I'm always trying to find ways to make leftovers more appealing so they don't get wasted. 
                Avoiding food waste is both good for the wallet and the environment. 
                This site is not a recipe site, there are plenty of recipe sites out there with way more resources than I have. 
                Instead it is a place to hopefully be inspired to cook with leftovers. 
                The term 'leftovers' is also used quite lightly here too. Leftovers might be leftover cold meat from the Sunday roast, 
                but it might also be a glut of produce you have left from a bumper harvest or from too many bulk buys in the shop. 
                I hope you enjoy reading the posts and feel free to share your thoughts and ideas in the comments sections under each post. 
                Happy cooking!
            </p>
        </div>
    </div>

</div>
{% endblock content %}