/* Header Styling */
#head {
    border-width: thick;
    border-style:dotted;
    border-color: yellow;
    background-color:#1408bf;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    align-content: stretch;
    gap:20px;
  }
  
  #logo {
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    width:20%;
    height:20%;
  }
  
  #logo img{
    color:yellow;
    display: block;
    max-height: 60%;
    max-width: 60%;
  }
  
  #headtxt {
    color:yellow;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self:center;
    text-align: center;
    font-family: "Roberto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 80%;
  }
  
  #nav{
    color:yellow;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    width: 20%;
    text-align: right;
  }
  
  #nav a {
    color:yellow;
  }
  
  #menu { 
    align-self:flex-end;
    text-align: center;
    width: 100%;
  }
  
  #menu a {
    color:#1408bf;
    font-family: "Roberto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left: 10%;
  }
  
/* Body Styling */

main {
    flex: 1 0 auto;
    margin-bottom: 20px;
}

#body {
  border-width: thick;
  border-style: dotted;
  border-color: #1408bf;
  background-color: yellow; 
}

.bodytxt {
  color:#1408bf;
  text-align: center;
  font-family: "Roberto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.bodytxt h1{
  font-weight: 700;
}

.bodytxt a{
  color: #1408bf;
}

.categories{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5%;
}

.cell {
  background-color: white;
  border: 1pt solid #1408bf; 
  flex:0 0 32%;
  height: 200px; 
  margin-bottom:5px;
  overflow: hidden;
}

.cell img{
  display: block;
  margin-left:auto;
  margin-right: auto;
  height: 60%;
  max-width: 60%;
  padding-top: 5px;
}

.cell p{
  padding-left: 10px;
  padding-right: 10px;
}

 /* Footer Styling */

#footer {
    border-width: thick;
    border-style:dotted;
    border-color: yellow;
    background-color:#1408bf;
  }
  
  .foottxt {
    color:yellow;
    text-align: center;
    font-family: "Roberto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .foottxt h1 {
    font-weight: 700;
  }
  
  #socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #footer  i {
    font-size: 160%;
    padding: 20px;
    color: yellow;  
    
  }
   